[submodule "manyconfigmap/argo-cd"]
	path = manyconfigmap/argo-cd
	url = https://github.com/argoproj/argo-cd.git
[submodule "manysecret/kubernetes"]
	path = manysecret/kubernetes
	url = https://github.com/kubernetes/kubernetes.git
[submodule "manyconfigmap/istio"]
	path = manyconfigmap/istio
	url = https://github.com/istio/istio.git
